@page
@model WestcoastEducationAdminApp.Pages.Users.Details
@{
    ViewData["Title"] = "User details";
    bool isStudent = Model.UserModel!.RoleName == "Student";
    bool isTeacher = Model.UserModel.RoleName == "Teacher";
}
@section styles
{
<link rel="stylesheet" href="/css/details.css">
}

<h1>@ViewData["Title"]</h1>

<div class="details">
    <div>
        <h2>@Model.UserModel!.FirstName @Model.UserModel.LastName</h2>
        <table>
            <tr>
                <th>Role:</th>
                <td>@Model.UserModel.RoleName</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>@Model.UserModel.Email</td>
            </tr>
            <tr>
                <th>Phone number:</th>
                <td>@Model.UserModel.PhoneNumber</td>
            </tr>
            <tr>
                <th class="table-bottom-left">Address:</th>
                <td class="table-bottom-right">@Model.UserModel.AddressName</td>
            </tr>
        </table>
    </div>

    <div class="user-course-summary">
        @if (isStudent || isTeacher)
        {
            <h2>Courses</h2>
            <table>
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Category</th>
                        @if (isStudent)
                        {
                            <th>Grade</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CourseModels!.Any())
                    {
                        foreach (var course in Model.CourseModels!)
                        {
                            <tr>
                                <td>
                                    <a asp-page="/Courses/Details" asp-route-id="@course.Id">@course.Name</a>
                                </td>
                                <td>
                                    @course.CategoryName
                                </td>
                                @if (isStudent)
                                {
                                    <td>
                                        @Model.CourseGrades[course.Id]
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>No courses yet.</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    @if (isTeacher)
    {
        <div class="user-competence-summary">
            <h2>Competences</h2>
        </div>
    }

    <div class="details-links">
        <a asp-page="/Users/Edit" asp-route-id="@Model.UserModel.Id" title="Edit"><i
                class="fa-solid fa-pen-to-square"></i></a>
        <a asp-page="/Users/Delete" asp-route-id="@Model.UserModel.Id" title="Delete"><i
                class="fa-solid fa-trash-can"></i></a>
    </div>
</div>
