@page
@model WestcoastEducationStudentApp.Pages.Login
@{
    ViewData["Title"] = "Login";
}
@section styles
{
    <link rel="stylesheet" href="/css/login.css">
}

<h1>@ViewData["Title"]</h1>

<div>
    @if (HttpContext.Session.GetString("UserId") != null)
    {
        <p>Already signed in with id: @HttpContext.Session.GetString("UserId")</p>
        <br>
    }
</div>

<div>
    <form method="post">
        <label for="users">Who's that goat?</label><br>
        <select id="users" name="userId">
            @foreach (var user in Model.AppUsers!)
            {
                <option value="@user.Id">@user.FirstName @user.LastName</option>
            }
        </select><br>
        
        <button type="submit">Yup that's right!</button>
    </form>
</div>

<br><hr><br>

<p>
    New Goat? <a asp-page="/Register">Register here</a>
</p>

<img src="/images/goats.jpg" alt="Image of goats">