@page
@model WestcoastEducationStudentApp.Pages.Login
@{
    ViewData["Title"] = "Login";
}
@section styles
{
<link rel="stylesheet" href="/css/textbox.css">
<link rel="stylesheet" href="/css/login.css">
}

<h1>@ViewData["Title"]</h1>

<div class="textbox">
    @if (HttpContext.Session.GetString("UserId") != null)
    {
        <div class="current-user-message">
            <p>Already signed in as:<br><span>@HttpContext.Session.GetString("UserNameFull")</span></p>
        </div>
    }

    <form method="post">
        <label for="users">Who's that goat?</label>
        <select id="users" name="userId">
            @foreach (var user in Model.AppUsers!)
            {
                <option value="@user.Id">@user.FirstName @user.LastName</option>
            }
        </select>
        <button type="submit">Yup that's right!</button>
    </form>

    <p>
        New Goat? Register <a asp-page="/Register">here</a>
    </p>
</div>
