@page
@model WestcoastEducationAdminApp.Pages.Courses.Edit
@{
    ViewData["Title"] = "Edit course";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <input asp-for="CourseModel!.Id" type="hidden">
        <div>
            <label asp-for="CourseModel!.Name"></label>
            <input asp-for="CourseModel!.Name">
        </div>
        <div>
            <label for="categorySelect">Category</label>
            <select asp-for="CourseModel!.CategoryId" id="categorySelect">
                @foreach (var category in Model.CategoryModels!)
                {
                    if (category.Id == Model.CourseModel!.CategoryId)
                    {
                        <option value ="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value ="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>
        <div>
            <label asp-for="CourseModel!.Summary"></label>
            <textarea asp-for="CourseModel!.Summary" rows="5" cols="30"></textarea>
        </div>
        <div>
            <label asp-for="CourseModel!.Description"></label>
            <textarea asp-for="CourseModel!.Description" rows="10" cols="30"></textarea>
        </div>
        <div>
            <label asp-for="CourseModel!.Hours"></label>
            <input asp-for="CourseModel!.Hours">
        </div>
        <div>
            <label asp-for="CourseModel!.Days"></label>
            <input asp-for="CourseModel!.Days">
        </div>
        <div>
            <label asp-for="CourseModel!.Code"></label>
            <input asp-for="CourseModel!.Code">
        </div>
        
        <button type="submit">Update</button>
    </form>
</div>
